<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bobcats.gcsu.edu.GC_Athletics" android:installLocation="auto" android:versionName="1.0.9" android:versionCode="9">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="GC Athletics" android:theme="@android:style/Theme.Material.Light"></application>
	<uses-feature android:name="android.hardware.screen.portrait" android:required="true" />
	<uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
	<uses-permission android:name="android.permission.INTERNET" />
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" />
</manifest>